/* @import "./treeview.min.css" */

/* .is-shown { */
/*     display: block!important; */
/* } */

.is-hidden {
  display: none!important;
}

#main {
    margin: 0;
    padding: 10px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#home {
    padding-top: 25px;
}

#title {
    margin: 0;
    padding: 10px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.section {
    margin: 15px;
    margin-left: 25px;
    display: block;
    overflow-y: hidden;
    height: 100%;
    padding-bottom: 120px;
    margin-bottom: 120px;
    font-family: "Helvetica Neue", Helvetica, Arial;
    /* font-size: 1em; */
    position: relative;
}

.split {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    width: 5px;
}

.gutter.gutter-horizontal {
    background-image: url('../../resources/vertical.png');
    cursor: ew-resize;
}

.split, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

#source {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 1em;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow-y: hidden;
    line-height: 1.5;
    /* overflow-x: hidden; */
}

#result {
    font-family: "Helvetica Neue", Helvetica, Arial;
    font-size: 0.9em;
    padding-left: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.link {
  cursor: pointer;
  color: maroon;
}

.dinfo {
    /* cursor: pointer; */
    color: maroon;
}

.dname {
    cursor: pointer;
}

.clause {
    background-color: #eee;
}


/* span { */
    /* padding-right: 5px; */
/* } */

span.space {
    padding-right: 0;
}

span.tibphrase {
    padding-right: 0;
}

span.term {
    padding-right: 0;
}

span.tibphrase:hover {
    /* background-color: #eee8aa; */
}

span.tibwf:hover {
  background-color: #eee8aa;
}

.grey {
    color: grey;
}

li.hidden {
  display: none;
}

.hidden {
    display: none; /* !important */;
}

.activetrn {
    display: block!important;
}

input[type='file'] {
    color: transparent;
}

.maroon {
    color: maroon;
}

/* span.clear { clear: left; display: block; } */

#book {
  padding-top: 0;
  margin: 0;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

#headers {
  margin: 0;
  height: 30px;
}

#headers > p {
  margin: 0;
  -webkit-margin-before: 0;
}

#trns > p.hidden {
  display: none;
}

.hleft {
  cursor: pointer;
  position: absolute;
  top: 10px;
  /* padding-left: 15px; */
  padding-right: 15px;
  color: maroon;
}

.hright {
  cursor: pointer;
  position: absolute;
  top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: maroon;
}

.header {
  box-shadow: 0.15em 0.15em 1em rgba(0, 0, 0, 0.75);
  background: white;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

/* #headers { */
/*   height: 16px; */
/*   padding-bottom: 10px; */
/* } */

#book > div.hright > ul  {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

#book {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.bookTitle {
  margin-top: 80px;
  margin-left: 50px;
}

.author {
  font-size: 18px;
}

.title {
  color: maroon;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.check-name {
  padding-left: 5px;
}

span.query {
    cursor: pointer;
    color: maroon;
    font-weight: bold;
}

.libauth {
  padding-top: 25px;
  cursor: pointer;
}

.lib-auth {
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 16px;
  color: maroon;
}

.lib-auth::after {
  content: ':'
}

.lib-title {
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 16px;
}

.book-content {
  padding-left: 10px;
  font-size: 18px;
  color: maroon;
}

/* #book > div.hleft.header > div > div:nth-child(2) */
div.hleft.header > div.tree {
  /* display: none; */
}

.qlink {
  padding-right: 15px;
  color: maroon;
  cursor: pointer;
}

.qtext {
  padding-left: 15px;
}

/* #source > div:nth-child(2) > p:nth-child(4) */
/* #source > div:nth-child(2) > div > p:nth-child(2) */
div.qtext > p.hidden {
  display: none;
}

.disclaimer {
  font-size: 10px;
  }

.qtitle {
  color: maroon;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.statline {
    padding-left: 25px;
}

.statnic {
    width: 150px;
}

.statnic::after {
    content: ': ';
}

.green {
    color: green;
}

.red {
    color: red;
}

#transcript {
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* background-color: white; */
  color: black;
  display: 'block';
  padding: 3px;
  position: absolute;
  z-index: 1100;
  box-shadow: 0.15em 0.15em 1em rgba(0, 0, 0, 0.75);
  height: auto;
  top: 250px;
  left: 300px;
  /* font-family: 'DejaVu Sans'; */
  font-size: 16px;
  padding: 3px;
  background-color: #e6ffcc;
}

#ambi {
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  display: 'block';
  padding: 3px;
  position: absolute;
  z-index: 1000;
  box-shadow: 0.15em 0.15em 1em rgba(0, 0, 0, 0.75);
  height: auto;
  top: 250px;
  left: 300px;
  /* font-family: 'DejaVu Sans'; */
  padding: 3px;
  background-color: white;
  font-family: 'YagpoUni';
  font-size: 1.5em;
}

.upper {
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  display: 'block';
  padding: 3px;
  position: absolute;
  z-index: 1001;
  box-shadow: 0.15em 0.15em 1em rgba(0, 0, 0, 0.75);
  height: auto;
  top: 250px;
  left: 300px;
  /* font-family: 'DejaVu Sans'; */
  padding: 3px;
  background-color: white;
  font-family: 'YagpoUni';
  font-size: 1.5em;
}

.danger {
  background-color: #fff2e6;
}

#ambi > ul {
  /* magrin: 0; */
  /* padding-inline-start: 0; */
  /* margin-block-start: 0; */
  /* margin-block-end: 0; */
  padding: 3px;
}

#ambi > ul > li > span {
  padding-left: 5px;
  padding-right: 5px;
}

.upper > ul > li > span {
  padding-left: 5px;
  padding-right: 5px;
}

span.active-form {
    cursor: pointer;
}

span.active-form:hover {
    background-color: #eee8aa;
}

span.active-dict {
    cursor: pointer;
}

span.active-dict:hover {
    background-color: #eee8aa;
}

.punct {
    padding-right: 2px;
}

/* .dict-div { */
/* } */

.dict-query {
    color: maroon;
    background-color: #eee;
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 5px;
    /* padding-right: 15px; */
}

.dict-header {
    margin-top: 5px;
    cursor: pointer;
}

.dict-div {
}

.dict-ul {
  font-size: small;
  /* padding-left: 15px; */
}

.dict-dname {
  float: right;
  color: green;
}

.dict-gends {
    font-style: italic;
    padding-left: 5px;
}

.dict-pos {
    font-style: italic;
    background-color: #99ff99;
    margin-left: 5px;
    margin-right: 5px;
}

.dict-rdict {
    width: 50%;
    padding: 5px;
}

ul.dict-fls {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #A4F3F3;
}

ul.dict-trns {
    padding-top: 5px;
    padding-left: 25px;
    line-height: 1.3;
    list-style: none;
}

.ellipsis::after {
    content: '...'
}

.dict-article {
    padding-top: 12px;
}

.dicts-table {
  width: 100%;
  margin-top: 25px;
}


#arrange-dicts {
  margin-top: 50px;
}

.dictname {
  cursor: pointer;
  color: maroon;
}

.dict-check {
  width: 20px;
  height: 20px;
}

.active-dict {
  width: 100px;
}

#pechatxt {
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: 'YagpoUni';
  font-size: 1.5em;
}

.dictcsv {
  color: maroon;
  cursor: pointer;
}

.table-header {
  color: maroon;
  font-weight: bold;
}

ul.info-table {
    line-height: 1.5em;
    list-style: none;

}

.popup {
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: black;
    display: 'block';
    padding: 3px;
    position: absolute;
    z-index: 1001;
    box-shadow: 0.15em 0.15em 1em rgba(0, 0, 0, 0.75);
    height: auto;
    top: 250px;
    left: 300px;
    background-color: white;
    font-size: 1.0em;
}

.comp-segment {
    /* color: 'red'; */
}

.comp-segment:after {
    content: ' - ';
}

.sect-dicts-ul {
    list-style: none;
    padding: 5px;
    background-color: #E9FED6;
}

.sect-dict-line {
    cursor: pointer;
}

.cognate-list {
    padding: 5px;
    background-color: #E9FED6;
}

li.cognate-line {
    padding-right: 5px;
    padding-left: 5px;
}

li.cognate-line:hover {
    /* background-color: #E9FED6; */
    padding-right: 5px;
    padding-left: 5px;
    background-color: white;
}

.table-chunk-header {
    color: maroon;
    font-weight: bold;
    margin-bottom: 15px;
    paddicg-bottom: 15px;
}

.table-line {
    cursor: pointer;
}

.table-line:hover {
    background-color: #eee8aa;
}

.dict-item {
    padding-right: 5px;
}

.dict-item-rdict {
    color: maroon;
    font-weight: bold;
}

#dict-item-pos {
    color: green;
}

.dict-item-input-text {
    width: 80%;
}

.submit {
    margin-top: 25px;
    margin-right: 5px;
}

.section-ul {
    list-style-type: disc;
    margin-left: 15px;
}

ul.dict-fls {
    list-style: none;
    line-height: 1em;
}

.compound-list {
    list-style: none;
}

.error-message {
    color: red;
    padding: 10px;
}

.section-descr {
    font-size: 0.9em;
}

#dict-table-submit-ok {
    margin-bottom: 100px;
}

#new-dict-item-link {
    margin-top: 25px;
}

.local-item-pos {
    margin-left: 15px;
    margin-right: 5px;
}

.banner {
    margin-top: 15px;
}
